<H1>Tourist</H1>

<div class="container">
  <div class="alert alert-warning" *ngIf="touristForm.dirty && touristForm.invalid">Enter valid values</div>
  <div class="alert alert-warning" *ngIf="touristForm.dirty && targetDate.invalid">Enter valid Target Date</div>
  
  <form (ngSubmit)="!touristForm.invalid && saveTourist()" #touristForm="ngForm">
    <fieldset class="form-group">
      <label>First Name</label>
      <input type="text" #description="ngModel" 
            [(ngModel)]="tourist.firstName" class="form-control" 
                name="firstName" required="required">
    </fieldset>
    <fieldset class="form-group">
      <label>Last Name</label>
      <input type="text" #description="ngModel" 
            [(ngModel)]="tourist.lastName" class="form-control" 
                name="lastName" required="required">
    </fieldset>



    <fieldset class="form-group">
      <label>Gender</label>
      <input type="text" #description="ngModel" 
            [(ngModel)]="tourist.gender" class="form-control" 
                name="gender" required="required">
    </fieldset>
    <fieldset class="form-group">
      <label>Country</label>
      <input type="text" #description="ngModel" 
            [(ngModel)]="tourist.country" class="form-control" 
                name="country" required="required">
    </fieldset>
    <fieldset class="form-group">
      <label>Remarks</label>
      <input type="text" #description="ngModel" 
            [(ngModel)]="tourist.remarks" class="form-control" 
                name="remarks" required="required">
    </fieldset>



    <fieldset class="form-group">
        <label>Date of Birth</label>
        <input type="date" #targetDate="ngModel"
        [ngModel]="tourist.dateOfBirth | date:'yyyy-MM-dd' "
        (ngModelChange)="tourist.dateOfBirth = $event"
        class="form-control" name="dateOfBirth" required="required" >
    </fieldset>


    <button type="submit" class="btn btn-success">Save</button>
  </form>  
</div>